Repository theme-next/hexo-theme-next, pull requests merged in 2018-09, with the labels that each got.

#395 add refer for livere
  layout/_third-party/comments/livere.swig
Labels: Bugfix

#408 Fix TOC displayed in Overview
  source/js/src/motion.js
Labels: Bugfix

#403 Refactor group-pictures
  scripts/tags/group-pictures.js
Labels: Bugfix, Optimization

#406 Fix disqus lazyload not working in Safari
  layout/_third-party/comments/disqus.swig
Labels: Need Confirm

#411 Fix alignments for `exturl` with `mobile_layout_economy` option.
  source/css/_common/scaffolding/mobile.styl
Labels: Bugfix, CSS

#420 Updated live preview links.
  README.md
  docs/ru/README.md
  docs/zh-CN/README.md
Labels: Docs

#422 Refactored `.exturl` class & improve variables for `a` tags.
  source/css/_common/components/tags/exturl.styl
  source/css/_common/scaffolding/base.styl
  source/css/_variables/base.styl
Labels: CSS, Optimization

#423 Refactored `.exturl` class & improve variables for `a` tags. [2]
  source/css/_common/components/post/post.styl
Labels: CSS, Optimization

#429 fix: Break words on PC and Firefox
  source/css/_common/components/highlight/highlight.styl
  source/css/_common/components/post/post-title.styl
  source/css/_common/components/post/post.styl
  source/css/_common/scaffolding/base.styl
  source/css/_common/scaffolding/tables.styl
  source/css/_mixins/base.styl
Labels: Bugfix, CSS

#431 Fixed & Optimized for #426.
  source/js/src/schemes/pisces.js
Labels: Bugfix, Optimization
