Repository theme-next/hexo-theme-next, pull requests merged in 2019-05, with the labels that each got.

#862 Make `symbols_count_time` faster
  layout/_macro/post.swig
Labels: Breaking Change, Improvement

#861 Fix #855 Github gist bug
  layout/_third-party/copy-code.swig
  source/js/utils.js
Labels: Bug Fix, CSS

#864 Fix a few typo errors in docs
  _config.yml
  docs/MATH.md
  docs/zh-CN/MATH.md
Labels: Docs, Improvement

#876 Upgrade Facebook Graph API to v3.3
  layout/_third-party/analytics/facebook-sdk.swig
Labels: 3rd Party Service, Improvement

#881 Force HTTPS of `google-analytics.swig`. Again.
  layout/_third-party/analytics/google-analytics.swig
Labels: Bug Fix, v6.x

#883 Change the internal path of quicklink
  layout/_third-party/quicklink.swig
Labels: 3rd Party Service, Improvement, Upstream Change

#885 Expressions and translations in CONTRIBUTING.md
  .github/CONTRIBUTING.md
  docs/zh-CN/CONTRIBUTING.md
Labels: Docs
