Repository theme-next/hexo-theme-next, pull requests merged in 2020-02, with the labels that each got.

#1364 PayPal now supports pay-by-QRCode, so I added it.
  _config.yml
  languages/de.yml
  languages/en.yml
  languages/es.yml
  languages/fa.yml
  languages/fr.yml
  languages/hu.yml
  languages/id.yml
  languages/it.yml
  languages/ja.yml
  languages/ko.yml
  languages/nl.yml
  languages/pt-BR.yml
  languages/pt.yml
  languages/ru.yml
  languages/tr.yml
  languages/uk.yml
  languages/vi.yml
  languages/zh-CN.yml
  languages/zh-HK.yml
  languages/zh-TW.yml
  layout/_partials/post/post-reward.swig
Labels: 📖 Docs

#1346 Add next_config helper
  layout/_partials/head/head.swig
  scripts/helpers/next-config.js
Labels: ⭐ Feature

#1365 New Gitalk option: accessToken
  _config.yml
  layout/_third-party/comments/gitalk.swig
Labels: ⭐ Feature, 🔌 3rd Party Plugin

#1369 [comments] gitalk.swig: fix syntax bug and remove redundant lines introducing access_token
  _config.yml
  layout/_third-party/comments/gitalk.swig
Labels: 🔌 3rd Party Plugin, 🛠 Improvement

#1374 Fix config.search.path is null
  scripts/helpers/next-config.js
Labels: 🐞 Bug Fix

#1314 Support MathJax v3.0
  _config.yml
  layout/_third-party/math/mathjax.swig
  source/css/_common/components/third-party/math.styl
Labels: ⭐ Feature, 🎯 Roadmap

#1367 Style back-to-top button to make sidebar more comfortable
  source/css/_schemes/Pisces/_sidebar.styl
  source/js/utils.js
Labels: CSS, 🛠 Improvement

#1380 Remove box-shadow of .sidebar when back2top.sidebar is true
  source/css/_common/outline/sidebar/sidebar.styl
Labels: CSS, 🐞 Bug Fix

#1386 Native Dark Mode support
  _config.yml
  source/css/_colors.styl
  source/css/_common/components/back-to-top-sidebar.styl
  source/css/_common/components/back-to-top.styl
  source/css/_common/components/components.styl
  source/css/_common/components/pages/schedule.styl
  source/css/_common/components/post/post-collapse.styl
  source/css/_common/components/post/post-copyright.styl
  source/css/_common/components/post/post-followme.styl
  source/css/_common/components/post/post-header.styl
  source/css/_common/components/post/post-nav.styl
  source/css/_common/components/third-party/search.styl
  source/css/_common/outline/header/menu.styl
  source/css/_common/outline/header/site-meta.styl
  source/css/_common/outline/header/site-nav.styl
  source/css/_common/outline/sidebar/sidebar-author.styl
  source/css/_common/outline/sidebar/sidebar-blogroll.styl
  source/css/_common/outline/sidebar/sidebar-toc.styl
  source/css/_common/outline/sidebar/sidebar.styl
  source/css/_common/outline/sidebar/site-state.styl
  source/css/_common/scaffolding/base.styl
  source/css/_common/scaffolding/buttons.styl
  source/css/_common/scaffolding/comments.styl
  source/css/_common/scaffolding/highlight/copy-code.styl
  source/css/_common/scaffolding/highlight/highlight.styl
  source/css/_common/scaffolding/tables.styl
  source/css/_common/scaffolding/tags/label.styl
  source/css/_common/scaffolding/tags/tabs.styl
  source/css/_mixins.styl
  source/css/_mixins/Gemini.styl
  source/css/_mixins/Mist.styl
  source/css/_mixins/Muse.styl
  source/css/_mixins/Pisces.styl
  source/css/_schemes/Gemini/index.styl
  source/css/_schemes/Mist/_header.styl
  source/css/_schemes/Mist/_layout.styl
  source/css/_schemes/Mist/_menu.styl
  source/css/_schemes/Mist/_posts-expand.styl
  source/css/_schemes/Muse/_header.styl
  source/css/_schemes/Muse/_menu.styl
  source/css/_schemes/Muse/_sidebar.styl
  source/css/_schemes/Pisces/_header.styl
  source/css/_schemes/Pisces/_layout.styl
  source/css/_schemes/Pisces/_menu.styl
  source/css/_schemes/Pisces/_sidebar.styl
  source/css/_schemes/Pisces/_sub-menu.styl
  source/css/_variables/Gemini.styl
  source/css/_variables/Mist.styl
  source/css/_variables/Muse.styl
  source/css/_variables/Pisces.styl
  source/css/_variables/base.styl
  source/css/main.styl
Labels: CSS, 🌟 New Feature

#1387 Optimize the position of search icon on mobile
  layout/_macro/post.swig
  layout/_partials/header/brand.swig
  source/css/_colors.styl
  source/css/_common/components/post/post-followme.styl
  source/css/_common/outline/header/menu.styl
  source/css/_common/outline/header/site-nav.styl
  source/css/_mixins.styl
  source/css/_schemes/Mist/_menu.styl
  source/css/_schemes/Muse/_menu.styl
  source/css/_schemes/Pisces/_header.styl
  source/css/_schemes/Pisces/_menu.styl
  source/js/algolia-search.js
  source/js/local-search.js
Labels: CSS, 🛠 Improvement

#1379 Redirect amscd for mathjax3
  layout/_third-party/math/mathjax.swig
Labels: Backlog, 🛠 Improvement
